/*
 * BitPesa Private API
 * API specification used for internal BitPesa endpoints
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.transferzero.sdk.api;

import com.transferzero.sdk.ApiCallback;
import com.transferzero.sdk.ApiClient;
import com.transferzero.sdk.ApiException;
import com.transferzero.sdk.ApiResponse;
import com.transferzero.sdk.Configuration;
import com.transferzero.sdk.Pair;
import com.transferzero.sdk.ProgressRequestBody;
import com.transferzero.sdk.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.transferzero.sdk.model.OpenCorporatesSenderUpdateRequest;
import com.transferzero.sdk.model.OpenCorporatesSenderUpdateResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class OpenCorporatesSenderUpdateApi {
    private ApiClient localVarApiClient;

    public OpenCorporatesSenderUpdateApi() {
        this(Configuration.getDefaultApiClient());
    }

    public OpenCorporatesSenderUpdateApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for updateSender
     * @param openCorporatesSenderUpdateRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call updateSenderCall(OpenCorporatesSenderUpdateRequest openCorporatesSenderUpdateRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = openCorporatesSenderUpdateRequest;

        // create path and map variables
        String localVarPath = "/open_corporates/update_sender";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "AuthorizationKey", "AuthorizationNonce", "AuthorizationSecret", "AuthorizationSignature" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call updateSenderValidateBeforeCall(OpenCorporatesSenderUpdateRequest openCorporatesSenderUpdateRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'openCorporatesSenderUpdateRequest' is set
        if (openCorporatesSenderUpdateRequest == null) {
            throw new ApiException("Missing the required parameter 'openCorporatesSenderUpdateRequest' when calling updateSender(Async)");
        }
        

        okhttp3.Call localVarCall = updateSenderCall(openCorporatesSenderUpdateRequest, _callback);
        return localVarCall;

    }

    /**
     * Update Sender with data retrieved from Open Corporates
     * This endpoint searches for a company on Open Corporates API and updates the associated Sender fields with the search results
     * @param openCorporatesSenderUpdateRequest  (required)
     * @return OpenCorporatesSenderUpdateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public OpenCorporatesSenderUpdateResponse updateSender(OpenCorporatesSenderUpdateRequest openCorporatesSenderUpdateRequest) throws ApiException {
        ApiResponse<OpenCorporatesSenderUpdateResponse> localVarResp = updateSenderWithHttpInfo(openCorporatesSenderUpdateRequest);
        return localVarResp.getData();
    }

    /**
     * Update Sender with data retrieved from Open Corporates
     * This endpoint searches for a company on Open Corporates API and updates the associated Sender fields with the search results
     * @param openCorporatesSenderUpdateRequest  (required)
     * @return ApiResponse&lt;OpenCorporatesSenderUpdateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<OpenCorporatesSenderUpdateResponse> updateSenderWithHttpInfo(OpenCorporatesSenderUpdateRequest openCorporatesSenderUpdateRequest) throws ApiException {
        okhttp3.Call localVarCall = updateSenderValidateBeforeCall(openCorporatesSenderUpdateRequest, null);
        Type localVarReturnType = new TypeToken<OpenCorporatesSenderUpdateResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Update Sender with data retrieved from Open Corporates (asynchronously)
     * This endpoint searches for a company on Open Corporates API and updates the associated Sender fields with the search results
     * @param openCorporatesSenderUpdateRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call updateSenderAsync(OpenCorporatesSenderUpdateRequest openCorporatesSenderUpdateRequest, final ApiCallback<OpenCorporatesSenderUpdateResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = updateSenderValidateBeforeCall(openCorporatesSenderUpdateRequest, _callback);
        Type localVarReturnType = new TypeToken<OpenCorporatesSenderUpdateResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
