/*
 * BitPesa Private API
 * API specification used for internal BitPesa endpoints
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.transferzero.sdk.api;

import com.transferzero.sdk.ApiCallback;
import com.transferzero.sdk.ApiClient;
import com.transferzero.sdk.ApiException;
import com.transferzero.sdk.ApiResponse;
import com.transferzero.sdk.Configuration;
import com.transferzero.sdk.Pair;
import com.transferzero.sdk.ProgressRequestBody;
import com.transferzero.sdk.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.transferzero.sdk.model.PaymentMethodListResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PaymentMethodsApi {
    private ApiClient localVarApiClient;

    public PaymentMethodsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PaymentMethodsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    private okhttp3.Call paymentMethodsInCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/info/payment_methods/in";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "AuthorizationKey", "AuthorizationNonce", "AuthorizationSecret", "AuthorizationSignature" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call paymentMethodsInValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = paymentMethodsInCall(_callback);
        return localVarCall;

    }


    private ApiResponse<PaymentMethodListResponse> paymentMethodsInWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = paymentMethodsInValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<PaymentMethodListResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call paymentMethodsInAsync(final ApiCallback<PaymentMethodListResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = paymentMethodsInValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<PaymentMethodListResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIpaymentMethodsInRequest {

        private APIpaymentMethodsInRequest() {
        }

        /**
         * Build call for paymentMethodsIn
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return paymentMethodsInCall(_callback);
        }

        /**
         * Execute paymentMethodsIn request
         * @return PaymentMethodListResponse
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         */
        public PaymentMethodListResponse execute() throws ApiException {
            ApiResponse<PaymentMethodListResponse> localVarResp = paymentMethodsInWithHttpInfo();
            return localVarResp.getData();
        }

        /**
         * Execute paymentMethodsIn request with HTTP info returned
         * @return ApiResponse&lt;PaymentMethodListResponse&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         */
        public ApiResponse<PaymentMethodListResponse> executeWithHttpInfo() throws ApiException {
            return paymentMethodsInWithHttpInfo();
        }

        /**
         * Execute paymentMethodsIn request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         */
        public okhttp3.Call executeAsync(final ApiCallback<PaymentMethodListResponse> _callback) throws ApiException {
            return paymentMethodsInAsync(_callback);
        }
    }

    /**
     * This method returns possible payin methods.
     * Fetching possible payin methods. 
     * @return APIpaymentMethodsInRequest
     */
    public APIpaymentMethodsInRequest paymentMethodsIn() {
        return new APIpaymentMethodsInRequest();
    }
    private okhttp3.Call paymentMethodsOutCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/info/payment_methods/out";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "AuthorizationKey", "AuthorizationNonce", "AuthorizationSecret", "AuthorizationSignature" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call paymentMethodsOutValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = paymentMethodsOutCall(_callback);
        return localVarCall;

    }


    private ApiResponse<PaymentMethodListResponse> paymentMethodsOutWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = paymentMethodsOutValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<PaymentMethodListResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call paymentMethodsOutAsync(final ApiCallback<PaymentMethodListResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = paymentMethodsOutValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<PaymentMethodListResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIpaymentMethodsOutRequest {

        private APIpaymentMethodsOutRequest() {
        }

        /**
         * Build call for paymentMethodsOut
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         */
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return paymentMethodsOutCall(_callback);
        }

        /**
         * Execute paymentMethodsOut request
         * @return PaymentMethodListResponse
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         */
        public PaymentMethodListResponse execute() throws ApiException {
            ApiResponse<PaymentMethodListResponse> localVarResp = paymentMethodsOutWithHttpInfo();
            return localVarResp.getData();
        }

        /**
         * Execute paymentMethodsOut request with HTTP info returned
         * @return ApiResponse&lt;PaymentMethodListResponse&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         */
        public ApiResponse<PaymentMethodListResponse> executeWithHttpInfo() throws ApiException {
            return paymentMethodsOutWithHttpInfo();
        }

        /**
         * Execute paymentMethodsOut request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         */
        public okhttp3.Call executeAsync(final ApiCallback<PaymentMethodListResponse> _callback) throws ApiException {
            return paymentMethodsOutAsync(_callback);
        }
    }

    /**
     * This method returns possible payout methods.
     * Fetching possible payout methods. 
     * @return APIpaymentMethodsOutRequest
     */
    public APIpaymentMethodsOutRequest paymentMethodsOut() {
        return new APIpaymentMethodsOutRequest();
    }
}
